body{
width: 100%;
margin: auto;
 color: black;
}
#mainDiv{

    height: 800px;
    width: 100%;
    margin: 0;
}
h1{
    padding: 100px 50px 10px 50px;
}
.style{
   text-align: center;
   margin: 0 auto;
   width: 80%;
   border-radius: 25px;
   opacity: 0.8;
    border-bottom: 2px dashed;
}
.mycontent-left{
    border-right: 2px dashed;

}
.fa-plus{
    font-size: 100px;
}