<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/register.css}" />
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"/>

    <title>Sign-In</title>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light static-top fixed-top" style="background-color: #AAABB8;">
    <a class="navbar-brand" href="#" style="color: white;">Register</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="collapse navbar-collapse" id="navbarNavDropdown">
    <span class="navbar-nav">
      <a class="nav-item nav-link active" th:href="@{/}" style="color: white">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" th:href="@{/barbershop}" style="color: white">Barbershop</a>
    </span>
  </span>
</nav>



<h1>Welcome to Mighty Sharp</h1>
<h2>Register New User</h2>

<!--successMessage-->
<div class="row" th:if="${Success}">
    <div class="col-md-3"></div>
    <div class="col-md-6 alert alert-success" role="alert" >
        You have successfully registered with us. You can now Sign in.
        <a th:href="@{/SignIn}">Sign in</a>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="container">
    <form class="form-horizontal" role="form" method="POST" th:action="@{/NewUser}" th:object="${user}" th:if="!${Success}">
        <div id="mainDiv">
            <div class="style">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row" th:if="${validationErrors}">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
            <span class="text-danger align-middle">
                <ul th:each="error : ${validationErrors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                </ul>
            </span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <input type="text"
                               id="FirstName"
                               class="form-control"
                               placeholder="First name"
                               name="First-Name"
                               th:field="*{FirstName}"/>
                    </div>
                    <div class="col">
                        <input type="text"
                               id="LastName"
                               class="form-control"
                               placeholder="Last name"
                               name="Last-Name"
                               th:field="*{LastName}"/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <input type="text"
                               id="PhoneNumber"
                               class="form-control"
                               placeholder="Phone Number"
                               name="Phone-Number"
                               th:field="*{PhoneNumber}"/>
                    </div>
                    <div class="col">
                        <input type="text"
                               id="age"
                               class="form-control"
                               placeholder="Age"
                               name="age"
                               th:field="*{age}"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="text"
                               id="username"
                               class="form-control"
                               placeholder="User Name"
                               name="username"
                               th:field="*{username}"/>
                    </div>
                    <div class="col">
                        <input type="password"
                               id="password"
                               class="form-control"
                               placeholder="Password"
                               name="password"
                               th:field="*{password}"/>
                    </div>
                </div>

                <a th:href="@{/BookAppointment}"><button>submit</button></a>
            </div>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
</script>

</body>

</html>
