<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/SignIn.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Sign-In</title>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light static-top fixed-top" style="background-color: #AAABB8;">
    <a class="navbar-brand" href="#" style="color: white;">Sign-In</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="collapse navbar-collapse" id="navbarNavDropdown">
    <span class="navbar-nav">
      <a class="nav-item nav-link active" th:href="@{/}" style="color: white">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" th:href="@{/barbershop}" style="color: white">BarberShop</a>
    </span>
  </span>
</nav>

<div class="container">
    <div class="mainDiv">
        <form>
            <div class="form-group">
                <i class="fa fa-user"/><label >User Name</label>
                <input type="text" class="form-control" placeholder="Enter username">
            </div>
            <div class="form-group">
                <i class="fas fa-lock"></i><label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <a th:href="@{/BookAppointment}"><button type="submit" class="btn btn-primary">Submit</button></a><br>
            <a th:href="@{/NewUser}"><h1>Register New User</h1></a>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
</script>

</body>

</html>